# Ignore Byte-compiled, optimized, or DLL files
*.pyc
*.pyo
*.pyd

# Ignore .env files
*.env

# Ignore specific files within the models folder
/models/autoencoder.pth
/models/diffusion_model.pth

# Ignore environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

